# Military Expenditure Comapred with Country Wealth and Per Capita

## Introduction

This analysis expands on Our World in Data's page "Military expenditure". This analysis puts military expensiture in perspective comparing it with each government's overall budget, GDP per country, and country size (in capita).

Citations:
[1] “Data Page: Military expenditure”, part of the following publication: Bastian Herre and Pablo Arriagada (2013) - “Military Personnel and Spending”. Data adapted from Stockholm International Peace Research Institute. Retrieved from https://ourworldindata.org/grapher/military-spending-sipri [online resource].

[2]

## Data Loading and Exploration

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
military = pd.read_csv("https://raw.githubusercontent.com/nataschaminnitt/distributionofthings/main/military_expenditure/data/military-spending-sipri.csv")
military.head()

        Entity Code  Year  Military expenditure (constant US$)
0  Afghanistan  AFG  1970                           62800316.0
1  Afghanistan  AFG  1973                           72822540.0
2  Afghanistan  AFG  1974                           70782330.0
3  Afghanistan  AFG  1975                           74303500.0
4  Afghanistan  AFG  1976                           94766424.0

In [27]:
military.describe()

              Year  Military expenditure (constant US$)
count  8872.000000                         8.872000e+03
mean   1995.111925                         2.988774e+10
std      18.693832                         1.467496e+11
min    1948.000000                         0.000000e+00
25%    1981.000000                         1.369158e+08
50%    1998.000000                         1.086390e+09
75%    2011.000000                         5.787154e+09
max    2023.000000                         2.393601e+12